*ReSharper*
*obj/
*bin/
/TestResults
*packages/
*.suo
*/.vs
*.user
*.cache
*/Database/Database.dbmdl
*.ldf
*.mdf
*/Web/App_Data/*

*.ncrunch*

*swp

/DevFacto.Dotplan.AnalysisServicesDatabase
*/Web/_cache
*/Web/_logs
/_UpgradeReport_Files
/UpgradeLog.*

results.xml

*nCrunchTemp*